<app-todo-create></app-todo-create>
<br/>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Completed</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos; let i = index">
            <td class="align-middle">{{todo.description}}</td>
            <td class="align-middle"><input id="completed" name="completed" type="checkbox" [checked]="todo.completed"/></td>
            <td class="align-middle">
                <button class="btn btn-warning">Edit</button>
                <button
                    (click)="onDelete(i)"
                    class="btn btn-danger btn-delete">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
